// ========================================
//
//      variables
//          サイト全体で使える変数定義
// 
//      INDEX
//          - break point
//          - color
//          - path
//          - easing
//
// ========================================

// ========================================
//    break point
// ========================================
$BP_L: 1080px; // PC
$BP_M: 780px;  // TB
$BP_S: 480px;  // SP


// ========================================
//    color
// ========================================
$C_WHITE: white;
$C_GRAY: gray;
$C_BLACK: black;
$C_RED: red;
$C_GREEN: green;
$C_BLUE: blue;
$C_YELLOW: yellow;
$C_PINK: pink;
$C_PURPLE: purple;

$C_MAIN: $C_WHITE; // サイトのメインカラー
$C_SUB1: $C_GRAY; // サイトのサブカラー1
$C_SUB2: $C_BLACK; // サイトのサブカラー2


// ========================================
//    path
// ========================================
$IMG: '/images/';


// ========================================
//    font
// ========================================
$MAIN_FONT_FAMILY: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; // サイト全体


// ========================================
//    easing
// ========================================
$EASE_OUT_CUBIC: cubic-bezier(0.215, 0.61, 0.355, 1); // 開始直後が早い
$EASE_IN_CUBIC: cubic-bezier(0.55, 0.055, 0.675, 0.19); // 終了直前が早い
$EASE_OUT_BACK: cubic-bezier(0.175, 0.885, 0.32, 1.275); // 開始直後が早い、一回行き過ぎて帰ってくる
$EASE_IN_BACK: cubic-bezier(0.6, -0.28, 0.735, 0.045); // 終了直前が早い、一回行き過ぎて帰ってくる
