/* ========================================

    common
        共通に使えるパーツ

    INDEX
        - wrapper

======================================== */

/* ========================================
    wrapper
======================================== */
nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 102;
    text-align: center;

    .view-item {
        position: absolute;
        text-align: right;
        height: 100%;

        @for $i from 0 through 4 {
            &:nth-of-type(#{$i+1}) {
                width: 100% - (20%*$i);
                background: darken(turquoise, 10*$i);
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: $C_WHITE;

            .text {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 20vw;
                height: 32px;
                margin: auto;
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}

.param-area {
    @include clearfix();
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    background-color: rgba(0,0,0,0.5);

    h3 {
        color: white;
        text-align: center;
        font-weight: bold;
        padding: 20px 0;
        background-color: rgba(0,0,0,0.5);
    }

    .box {
        float: left;
    }
}


.easing-list {
    &__item {
        padding: 10px;
        color: white;
        transition: 0.3s;
        opacity: 1;
        text-align: center;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        &.current {
            color: red;
        }
    }
}

.speed-input {
    margin: 20px;
}